<head>
  <link rel="stylesheet" href="/static/ticker.css" type="text/css">
</head>
<body>
  
  <div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item">ZONE <td>{{ zone }}</td>: <td>{{ percent_oos }}%</td> OOS</div>
      <div class="ticker__item">ZONE <td>{{ zone }}</td>: <td>{{ percent_oos }}%</td> OOS</div>
      <div class="ticker__item">ZONE <td>{{ zone }}</td>: <td>{{ percent_oos }}%</td> OOS</div>
      <div class="ticker__item">ZONE <td>{{ zone }}</td>: <td>{{ percent_oos }}%</td> OOS</div>
    </div>
  </div>
  <br>
  <br>

  <div class="unit">



    <div class="left-div">

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>1) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>2) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>3) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>4) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>5) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>6) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>7) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>8) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:12%"><b><i>9) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:29%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      <div id="container">
        <div class="Stocks">
          <span class="Symbol" style="width:13%"><b><i>10) Zone #<td>{{ zone }}</td></i></b></span>
          <span style="width:28%">
            <span style="width:35%"><b class="Stat">$ Lost:</b></span>
            <span style="width:26%"><b class="Label"><td>{{ loss }}</td></b></span>
            <span><b class="Stat">%OOS:</b></span>
          </span>
          <span style="width:4%"><b class="Label"><td>{{ percent_oos }}%</td></b></span>
          <b class="Stat">VP: </b>
          <span style="width:16%"><b class="Label"><td>{{ contact }}</td></b></span>
          <span><b class="Label"><a href='/viewmore' target="_blank">View More</a></b></span>
        </div>
     
      </div>

      


      


    </div>

    <div class="right-div">

    
      <iframe width="90%" height="48%" frameborder="0" scrolling="no" src="//plot.ly/~brauch/34.embed?showlink=false"></iframe>

      <br>
      <br>
      <iframe width="90%" height="48%" frameborder="0" scrolling="no" src="//plot.ly/~brauch/36.embed?showlink=false"></iframe>


    </div>

  </div>
</body>